* {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

body {
  background: rgb(63, 30, 53);
  color:white;
}

h2 {
  margin-top:5%;
  color:#30e430;
}

/* .reading-cards img{

} */
#nav {
  background-color: rgb(153, 42, 120);
  background-image:url("https://images.unsplash.com/photo-1618108571494-7065bc619e68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
  background-blend-mode: screen;
  height: 20px;
  width: 99%; 
}

.nav-li {
  text-decoration: none;
  display: inline-block;
  margin: 0px 8px;
  padding: 1px;
  color:white;
  text-indent: 10px;
}

.cards-list {
  grid-area: bt;
  display: flex;
  justify-content: space-evenly;
}

img {
  margin-top:70px;
}