* {
  margin: auto;
  padding: 0;
  font-family: 'Cinzel', serif;
  text-align: center;
}

body {
  background: rgb(72, 34, 61);
  color:white;
}

h2 {
  margin-top:15px;
  color:#31cb31;
  font-weight: bolder;
  font-size: 46px;
}

h4 {
  font-size: 35px;
  color: #1e811ede;
}

h3 {
  font-size: 26px;
  padding: 10px 0 10px 0;
  color: #1e811ede;
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
}

button {
  color: white;
  background-color: #4CAF50; /* Green */
  border: none;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}


#nav {
  background-color: rgb(153, 42, 120);
  background-image:url("https://images.unsplash.com/photo-1618108571494-7065bc619e68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
  background-blend-mode: screen;
  height: 80px;
  width: 100%; 
  color: black;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.4 );
  height: 80px;
  width: 100%; 
}

.nav-li {
  text-decoration: none;
  font-weight: bolder;
  display: inline-block;
  margin: 0px 8px;
  padding: 1px;
  color:white;
  text-indent: 10px;
  color: rgb(171, 49, 134)
}

.cards-list {
  /* grid-area: bt;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: space-between; */

display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
padding-top: 10px;
}

.reading-cards {
  flex-shrink: auto;
  flex-basis: auto;
}

.logo2{
  position: absolute;
  border-radius:5px;
  top: 0px;
  right: 120px;
  width: 80px;
  height: 80px;
}
.logo {
  position: absolute;
  border-radius: 95px;
  top: 60px;
  left: 120px;
  width: 80px;
  height: 80px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 5s linear infinite;
  -moz-animation:spin 5s linear infinite;
  animation:spin 20s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.librarycards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flip {
  /* this css turns a card upsidown */
  transform: rotate(180deg);
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 40px;
  width: 100%;
}

h4 {
  padding: 3px;
}

.libraryCard img {
  float: left;
  padding-left: 10%;
  padding-top: 6%;
}

.libraryCard p {
  padding: 8px;
  /* font: "Times New Roman"; */
}

.libraryCard {
  padding-top: 15px
}

.libraryDescription {
  width: 500px;
  padding-left: 400px;
  padding-top: 40px;
  /* background-color: yellow; */
}

hr {
  border: 1px dotted green
  rgb(216, 180, 206)
}

.formcontainer {
  padding: 8px 8px;
}

.welcomeLogo:hover {
  transform: scale(1.3);
  margin-top: 200px;
  border-radius:3%;
  display: block;
  margin: auto;
  padding: 1px;
  opacity: 0.9;
  padding-bottom:1px;
  margin-bottom:30px;
  box-shadow: 12px 12px 102px 1px rgba(136, 0, 255, 0.2);
  transition: 2s ease-in-out;
  /* animation: fadeinout 4s linear forwards; */
}

.input-text, .welcome input {
  padding: 8px;
}

.searchbar {
  padding-bottom: 15px;
}